body {
  font-family: 'Poiret One', cursive;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: url(
    "http://free.bridal-shower-themes.com/img/b/l/black-and-white-background-with-flowers_2.jpg");
  background-size: cover;
  background-position: center;

}
.column {
  height: 355;
}
img {
  float: left;
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
  padding-left: 40px;
  padding-top: 18px;
}
ul {
	display: inline;
}
li {
	padding-left: 430px;
	margin-bottom: 20px;
}